
body h1{
  color:#19105B;
  padding:10px;
}

.inputBoxSpan{
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid #dbe2ed;
}
.inputBoxSpan:hover {
  border: 1px solid #19105B;
}
.inputBox {
  height: 50px;
  border-radius: 3px;
  width:250px;
  font-size: 15px;
  outline: none ;
  border:none ;
  letter-spacing: 1.5px;
}

.container-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width:100vw;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    backdrop-filter: blur(2px) saturate(177%);
    -webkit-backdrop-filter: blur(2px) saturate(177%);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    padding:5rem;
  }
  
  .fp{
    color:#2b7c97;
    cursor:pointer;
  }
  .submitDiv{
    height: 45px;
    border-radius: 5px;
    width:290px;
    background: #19105B;
    cursor: pointer;
    color:white;
    border:none;
    outline: none;
  }
  .submitBtn{
    font-size: 15px;
    color: white;
    background: #19105B;
    outline:none;
    border:none;
  }

