.events-list {
    max-height: calc(100vh - 100px); 
    overflow-y: auto; 
  }
  .status{
    color: red;
  }
  .disabled-card {
    cursor: no-drop; /* Change cursor style to no-drop */
    opacity: 0.6; /* Reduce opacity to visually indicate it's disabled */
    pointer-events: none; /* Disable pointer events for the entire card */
  }
  .filter-tab {
    padding: 5px 10px;
    cursor: pointer;
    color: #aaa; /* Light text color */
    text-decoration: none;
    margin-right: 10px;
  }
  
  .filter-tab.active {
    text-decoration: underline;
    color: #333; /* Dark text color */
  }
  